## 빅분기 3회 실기 기출

### 1-1
연관성 분석에서 규칙이 우연에 의해 발생한 것인지 판단하기 위해 연관성의 정도를 측정하는 척도는?

In [ ]:
향상도

### 1-2.
분포를 모를 때, 데이터를 0~1 사이로 변환하는 것은?

In [ ]:
Min-Max Scaler

### 1-3.
순서형 말고 예를 들어 국가별 코드 값을 가진 이런한 특징을 가진 것을 (    ) 데이터 라고 한다

In [ ]:
명목형

### 1-4.
마지막 은닉층 두개(0.2, 0.3), 가중치 두개(0.3,-0.1), 바이어스bias(=상수항의 가중치) 0.1 들의 값은 이러하다. 마지막 출력에 입력되는 선형합값은?

In [ ]:
0.2*0.3 + 0.3*(-0.1) +0.1

0.13

### 1-5
회귀, 분류 둘다 사용가능하며 지도학습 알고리즘으로 구분하는 경계와 데이터와 멀수록(최대일경우) 가장 좋은 모델로 선정하는 알고리즘은 무엇인가?

In [ ]:
SVM(서포트 벡터 머신)

### 1-6
여러가지 동일한 종류 또는 상이한 모형의 예측/분류 결과를 종합하는...

In [ ]:
앙상블

### 1-7
군집화 연결법에 관한 것으로 중심 거리 계산, 가중 평균을 계산하여 새로운 중심을 ...

In [ ]:
중심연결법

### 1-8
군집 분석 진행 시 데이터의 (    )를 고려하는 것이 중요하다

In [ ]:
거리

### 1-9
A 학교의 영어점수 60점과 B학교의 영어점수 60점은 같은 60점이지만 학교가 다르기 때문에 같은 점수라고 볼 수 없다. 이는 데이터의 (    )이 다르기 때문이다.

In [ ]:
분포

### 1-10
그룹화를 의미하는 데이터 변환을 뭐라하는가?
(예시 : 일별 매출건수를 그룹화하여 월별 매출건수, 분기별 매출건수로 변환)

In [ ]:
구간화 (binning)

## 2.작업형1

In [ ]:
!git clone https://github.com/Soyoung-Yoon/bigdata

Cloning into 'bigdata'...
remote: Enumerating objects: 41, done.
remote: Counting objects: 100% (41/41), done.
remote: Compressing objects: 100% (41/41), done.
remote: Total 41 (delta 11), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (41/41), done.

### 2-1.캘리포니어 집값 데이터
결측치를 포함하는 모든 행을 제거한 후, 처음부터 순서대로 70%를 추출하여, 'housing_median_age' 컬럼의 사분위수 Q1의 값을 구하시오
- 주의사항 정답 제출시, 정수형으로 제출해야 함

In [ ]:
# 한 문자형 컬럼에 빈칸 ''인 데이터 1건이 있어서
# 빈칸을 결측으로 처리시 빈칸 제거전 242건에서 빈칸 제거후 243건의 행이 제거됨
# 하지만 제거하지 않고 1분위수를 구하더라도 정답은 같음

In [ ]:
import pandas as pd 
 
housing = pd.read_csv("./bigdata/housing03.csv")
housing.dropna(inplace= True)
train = housing.iloc[:int(len(housing)*0.7)]
result = train['housing_median_age'].quantile(0.25)
print(int(result))  # 정답 : 19

19

### 2-2.연도별 나라별 유병률 데이터
2000년 데이터에 대해 국가 전체 유병률 평균 값보다 큰 값을 가진 국가 개수는?
(year 변수와 국가들의 결핵 유병률 값을 가진 데이터셋이 주어짐)

    year  국가이름1  국가이름2 ...
    1990  356        200
    1991  400        150
    1992  340        180
...

In [ ]:
import pandas as pd
 
data = pd.read_csv('./bigdata/worlddata.csv') 
data2000 = data[data['year'] == 2000].T
#print(data2000)
data2000 = data2000.iloc[1:, 0] # 첫번째 행이 'year' 이므로 제거해야 합니다!  
#print(data2000)
mean = data2000.mean()
result = data2000[data2000 > mean].shape[0]
print(result)  # 정답 : 76

76

### 2-3.타이타닉 데이터
- 각 열의 결측치 비율을 확인 한 후, 결측치의 비율이 가장 높은 변수명을 구하시오
- 데이터 : https://www.kaggle.com/c/2019-1st-ml-month-with-kakr/overview

In [ ]:
import pandas as pd
titanic = pd.read_csv("bigdata/titanic_train03.csv")
 
# 결측치 비율 
isna = titanic.isna().sum()
result = isna.index[isna.argmax()]
print(result)  # 정답 : Age

## 3.작업형2
travel insurance 데이터 - 보험가입여부 예측
- travel insurance 데이터를 활용해서 보험가입여부를 예측하라. 
- 데이터 : https://www.kaggle.com/agileteam/traval-insurance-exam 
80점 나왔을 때 30점?!
- travel_insurance_test03.csv
- travel_insurance_train03.csv

In [ ]:
# [0] 사용 라이브러리 import
import pandas as pd

# 데이타가 많은경우 모두 출력 안되고 ... 으로 생략해서 출력됨.
pd.set_option('max_rows',500)    #출력할 max row를 지정
pd.set_option('max_columns',20)  #출력할 max columns를 지정
#출력 format 지정 - 소수점아래 4자리까지
pd.set_option('display.float_format', '{:.4f}'.format)

train = pd.read_csv('bigdata/travel_insurance_train03.csv')
test = pd.read_csv('bigdata/travel_insurance_test03.csv')
Xtrain = train.drop(columns='TravelInsurance')
Xtrain.to_csv('x_train.csv', index=False)
train[['Unnamed: 0', 'TravelInsurance']].to_csv('y_train.csv', index=False)
test.to_csv('x_test.csv', index=False)

In [ ]:
# [1] 데이터 불러오기
X =  pd.read_csv('x_train.csv')
Y =  pd.read_csv('y_train.csv')
X_submission =  pd.read_csv('x_test.csv')

In [ ]:
# [2] 'Unnamed: 0'를 'ID'로 변경하기  (필수 아님)
X.columns = ['ID'] + list(X.columns[1:])
Y.columns = ['ID'] + list(Y.columns[1:])
X_submission.columns = ['ID'] + list(X_submission.columns[1:])

In [ ]:
# [3] X, X_submission 합쳐 dfX 만들고 info() 로 결측치, dtype 확인
dfX = pd.concat([X, X_submission], ignore_index=True)
dfX.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1987 entries, 0 to 1986
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   1987 non-null   int64
 1   Age                  1987 non-null   int64
 2   Employment Type      1987 non-null   object
 3   GraduateOrNot        1987 non-null   object
 4   AnnualIncome         1987 non-null   int64
 5   FamilyMembers        1987 non-null   int64
 6   ChronicDiseases      1987 non-null   int64
 7   FrequentFlyer        1987 non-null   object
 8   EverTravelledAbroad  1987 non-null   object
dtypes: int64(5), object(4)
memory usage: 139.8+ KB

In [ ]:
# 결측치 없음, dtype에서 object는 변경해야함

In [ ]:
# [4] object 타입으로 된 것들의 가짓수 확인
objcols = ['Employment Type', 'GraduateOrNot', 'FrequentFlyer', 'EverTravelledAbroad']
dfX[objcols].nunique()

Employment Type        2
GraduateOrNot          2
FrequentFlyer          2
EverTravelledAbroad    2
dtype: int64

In [ ]:
# [5] object 타입으로 된 것들의 값과 분포 확인
for t in objcols:
    print(dfX[t].value_counts())

Private Sector/Self Employed    1417
Government Sector                570
Name: Employment Type, dtype: int64
Yes    1692
No      295
Name: GraduateOrNot, dtype: int64
No     1570
Yes     417
Name: FrequentFlyer, dtype: int64
No     1607
Yes     380
Name: EverTravelledAbroad, dtype: int64

In [ ]:
# [6] Label Encoding 실시
for t in objcols:
    A = dfX[t].unique()
    dfX[t] = dfX[t].replace(A, [0, 1])
dfX.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1987 entries, 0 to 1986
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   1987 non-null   int64
 1   Age                  1987 non-null   int64
 2   Employment Type      1987 non-null   int64
 3   GraduateOrNot        1987 non-null   int64
 4   AnnualIncome         1987 non-null   int64
 5   FamilyMembers        1987 non-null   int64
 6   ChronicDiseases      1987 non-null   int64
 7   FrequentFlyer        1987 non-null   int64
 8   EverTravelledAbroad  1987 non-null   int64
dtypes: int64(9)
memory usage: 139.8 KB

In [ ]:
# [7] 사용할 도구 import
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

In [ ]:
# [8] train score, test score, roc_auc_score 를 반환하는 함수 작성
from sklearn.metrics import roc_auc_score
def get_scores(model, xtrain, xtest, ytrain, ytest):
    A = model.score(xtrain, ytrain)
    B = model.score(xtest, ytest)
    ypred1 = model.predict_proba(xtrain)[:, 1]
    ypred2 = model.predict_proba(xtest)[:, 1]    
    C = roc_auc_score(ytrain, ypred1)  
    D = roc_auc_score(ytest, ypred2) 
    return '{:.4f} {:.4f} {:.4f} {:.4f}'.format(A, B, C, D)

In [ ]:
# [9] 다양한 모델을 만들고 성능을 출력하는 함수 작성
def make_models(xtrain, xtest, ytrain, ytest, rs=1234):
    model1 = LogisticRegression().fit(xtrain, ytrain)
    print('model1', get_scores(model1, xtrain, xtest, ytrain, ytest))
    for k in range(1, 10):
        model2 = KNeighborsClassifier(k).fit(xtrain, ytrain)
        print('model2', k, get_scores(model2, xtrain, xtest, ytrain, ytest))

    # overfitting
    model3 = DecisionTreeClassifier(random_state=rs).fit(xtrain, ytrain)
    print('model3', get_scores(model3, xtrain, xtest, ytrain, ytest))

    # overfitting 해결
    for d in range(3, 8):
        model3 = DecisionTreeClassifier(max_depth=d, random_state=rs).fit(xtrain, ytrain)
        print('model3', d, get_scores(model3, xtrain, xtest, ytrain, ytest))

    # overfitting
    model4 = RandomForestClassifier(random_state=rs).fit(xtrain, ytrain)
    print('model4', get_scores(model4, xtrain, xtest, ytrain, ytest))

    # overfitting 해결
    for d in range(3, 8):
        model4 = RandomForestClassifier(500, max_depth=d, random_state=rs).fit(xtrain, ytrain)
        print('model4', d, get_scores(model4, xtrain, xtest, ytrain, ytest))

    model5 = XGBClassifier(eval_metric='logloss', use_label_encoder=False).fit(xtrain, ytrain)
    print('model5', get_scores(model5, xtrain, xtest, ytrain, ytest))

In [ ]:
# [10] X를 train 용도, submission 용도로 나누고, Y를 1차원으로 바꿈 (MinMaxScaler 적용)
def get_data(dfX, Y):
    X = dfX.drop(columns=['ID'])
    X_use = X.iloc[:1490, :]
    X_submission = X.iloc[1490:, :]
    Y1 = Y['TravelInsurance']
    scaler = MinMaxScaler()
    X1_use = scaler.fit_transform(X_use)
    X1_submission = scaler.transform(X_submission)
    print(X1_use.shape, Y1.shape, X1_submission.shape)
    return X1_use, X1_submission, Y1

In [ ]:
# [11] 모델 찾기

# X, Y 분리하기
X1_use, X1_submission, Y1 = get_data(dfX, Y)
rs = 1234
# train, test  7:3 분할, stratify 적용, random_state=0 적용
xtrain1, xtest1, ytrain1, ytest1 = train_test_split(X1_use, Y1, 
                                                test_size = 0.3,
                                                stratify=Y1, random_state=rs)
# 다양한 모델 만들어 보기
# make_models 함수 호출 부분은 
# 실제 시험에서 제출 전에 꼭 주석을 취해 주세요 ^_^  - 실행 시간 초과 금지
make_models(xtrain1, xtest1, ytrain1, ytest1, rs)

(1490, 8) (1490,) (497, 8)
model1 0.7699 0.7673 0.7821 0.7693
model2 1 0.9453 0.7069 0.9394 0.6903
model2 2 0.8658 0.7629 0.9461 0.7422
model2 3 0.8610 0.7360 0.9310 0.7566
model2 4 0.8351 0.7785 0.9133 0.7519
model2 5 0.8341 0.7785 0.9068 0.7520
model2 6 0.8284 0.7718 0.8958 0.7568
model2 7 0.8226 0.7673 0.8909 0.7614
model2 8 0.8169 0.7673 0.8839 0.7748
model2 9 0.8073 0.7696 0.8774 0.7694
model3 0.9501 0.7517 0.9941 0.7268
model3 3 0.8360 0.8434 0.8173 0.8212
model3 4 0.8370 0.8389 0.8326 0.8297
model3 5 0.8418 0.8277 0.8481 0.8364
model3 6 0.8485 0.8188 0.8651 0.7885
model3 7 0.8610 0.8076 0.8809 0.7975
model4 0.9501 0.7740 0.9931 0.7935
model4 3 0.7987 0.7919 0.8264 0.8074
model4 4 0.8236 0.8098 0.8419 0.8106
model4 5 0.8399 0.8367 0.8665 0.8126
model4 6 0.8428 0.8389 0.8993 0.8140
model4 7 0.8504 0.8367 0.9263 0.8153
model5 0.8408 0.8345 0.8913 0.8176

In [ ]:
# model3 5 0.8418 0.8277 0.8481 0.8364
# [12] 최종적으로 사용할 모델을 선택하여 model로 다시 생성합니다.
model = DecisionTreeClassifier(max_depth=5, random_state=rs).fit(xtrain1, ytrain1)
print('final model', get_scores(model, xtrain1, xtest1, ytrain1, ytest1))

final model 0.8418 0.8277 0.8481 0.8364

In [ ]:
# [13] test 데이터(X_submission, X1_submission)에 대한 확률 구하기, 파일로 저장하기
pred = model.predict_proba(X1_submission)[:, 1]
submission = pd.DataFrame({'ID': X_submission['ID'],
                           'TravelInsurance': pred})
submission.to_csv('submission.csv', index=False)